@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@media (max-width: 768px) {
  footer #footer p {
    position: static;
    transform: none;
    margin: 0 auto;
  }

  .navbar {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .col-md-2 {
    padding-left: 10px;
    /* Adjust the padding value as needed */
    padding-right: 10px;
    /* Adjust the padding value as needed */
    padding-top: 20px !important;
    /* Adjust the top padding value as needed */

  }
}


#max {
  max-height: 40px;
}

:root {
  --primary: #FFFFFF;
  --dark: #001935;
  --body: #FFAD1D;
  --secondary: #FFC866;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
  --color: var(--primary);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: var(--body);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--body);
}

a {
  color: var(--dark);
  font-size: 1vw;
  /* Adjust font size using viewport width units */
  padding: 1.5vw 3vw;
  /* Adjust padding using viewport width units */
  max-width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}

p {
  color: var(--dark);
}

.image-container {
  position: relative;
  /* padding: 20px; */
  background-color: #fff;
  border: none;
  box-shadow: var(--box-shadow);
}

.image-container img {
  width: 100%;
  height: auto;
}

.pt-lg-5 {
  background-image: url(/assieds/logo_background.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 900px;

}

.card-title,
.card-text {
  color: #001935;
  text-align: left;

}

form>button {
  background-color: #007bff;
  text-align: center;
}

form {
  text-align: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  background-color: #FFAD1D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 120%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -44px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


#image-container:hover {
  border-color: #007bff;
  background-color: #f2f2f2;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.wow {
  background-image: url('./assieds/bg_hedd.png');
  background-attachment: fixed;
  box-shadow: -8px -83px 55px -25px rgba(0, 25, 53, 1) inset;
  -webkit-box-shadow: -8px -83px 55px -25px rgb(31, 61, 102) inset;
  -moz-box-shadow: -8px -83px 55px -25px rgba(0, 25, 53, 1) inset;
}

#xx {
  background-image: url('./assieds/logo\ background.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}



/* test */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.col-md-6 {
  flex: 1 0 50%;
}

.image-container {
  position: relative;
  /* padding: 20px; */
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: auto;
}

.why {
  background-image: url(./assieds/why.png);
  background-attachment: fixed;
  text-align: center;
}

#pic3 {

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
}



.col-md-4 img {
  width: 100%;
  height: auto;
}

#pic2 {

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.col-md-6 {
  padding: 0 10px;
}

.col-md-6 img {
  width: 100%;
  height: auto;
}

#pic5 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.col-md-2 {
  padding: 0 10px;
}

.col-md-2 img {
  width: 100%;
  height: auto;
}

.col-md-6 {
  text-align: center;
  max-width: 600px;
  /* 6 columns */
  margin: 0 auto;
}

input[type="text"] {
  text-align: center;
}

textarea {
  text-align: center;
}

#foot img {
  width: auto;
  max-height: 36px;
  position: center bottom;
}

#foot p {
  text-align: right;
  top: 8816px;
  left: 158px;
  width: 515px;
  height: 28px;
}

/* hi */
.image-container {
  position: relative;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#image-container img {
  width: 100%;
  height: auto;
}

/* Image hover effect */
#image-container:hover {
  border-color: #007bff;
}

/* Image captions */
.image-caption {
  text-align: center;
  margin-top: 10px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('./assieds/bg_hedd.png');
  background-attachment: fixed;
  background-color: #f8f8f8;
  padding: 20px;
}

nav {
  text-align: center;
}

.navbar-nav .nav-link {
  font-size: 16px;
  /* Default font size */
}

nav a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  width: 300px;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.service img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.service h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service p {
  line-height: 1.5;
}

.service a {
  display: block;
  background-color: #007bff;
  color: #001935;
  padding: 10px;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}

footer {
  background-color: #FFAD1D;
}

.footer-basic {
  background-color: #ffffff;
  color: #4b4c4d;
  text-align: center;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 0.6;
}

.footer-basic .social {
  text-align: center;
}

.footer-basic .social>a {
  font-size: 20px;
  max-width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.img:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}


.py-lg-5 {
  color: #FFAD1D;
}

.image-container:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}



a:link,
a:visited {
  text-decoration: none;
  border: #007bff;
  color: #001935;
  text-align: center;
  margin: 5px;
  font-size: 16px;
  /* Adjust font size using viewport width units */
  padding: 1.5vw 3vw;
  /* Adjust padding using viewport width units */
  max-width: 200px;

}

a:hover {
  color: #FFFFFF;
}

.social a:visited,
.social a:link {
  text-decoration: none;
  border: #FFFFFF;
  color: #001935;
  text-align: center;
  margin: 5px;


}

.social a,
.social i,
.social1 a {
  font-size: 30px;

}